.img {
  height: 15vh;
  background: initial;
  border-radius: initial;
}

.inline {
  background: linear-gradient(#58b998, #58b998b8);
  border-radius: 0 0 3vmin 3vmin;
}

.overlap {
  position: relative;
}

.overlap a {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.overlap div {
  max-height: 40vh;
}

.pagePhoto {
  max-height: 40vh;
  width: 100vw;
  object-fit: cover;
  margin-bottom: 1vh;
  z-index: -1;
  position: relative;
}
