.column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.aligned {
  align-items: center;
}

.spaced {
  justify-content: space-between;
}
